html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    line-height: 1.35;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 65rem;
    margin: 0 auto;
    width: 92%;
}

a {
    color: #1792d2;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #143774;
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: #143774;
}

/* ========== TITLE & NAVIGATION ========== */

header {
    text-align: center;
    padding: 1em 0 1.5em 0;
    background-color: #f8f8f8;
    margin-bottom: 2em;
}

.site-title {
    font-size: 2rem;
    margin: 0;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.site-subtitle,
.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.site-subtitle {
    font-size: .75rem;
    color: #1792d2;
    margin-top: 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.nav-item {
    margin-top: 1em;
}

.nav-link {
    color: #707070;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: .2em;
    font-size: 1rem;
}

.nav-link:focus,
.nav-link:hover {
    color: #1792d2;
    text-decoration: none;
}

.current-page {
    border-bottom: 2px solid #a1a1a1;
}

.current-page:focus,
.current-page:hover {
    color: #707070;
}

/* ========== MAIN ========== */

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
}

.article-top {
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 2em;
}

.article-title {
    font-size: 1.5rem;
    margin-top: 0;
}

.article-read-more {
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #1792d2;
}

.article-info,
.article-top-info {
    font-size: 0.875rem;
    color: #707070;
    margin-bottom: .5em;
}

.article-info {
    display: flex;
    flex-wrap: nowrap;
}

.article-top-main,
.article-recent-main {
    order: 2;
}

.article-top-main,
.article-recent-secondary {
    order: 1;
}

/* ========== ASIDE ========== */

aside {
    color: #143774;
}

.aside-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #a1a1a1;
    margin-top: 1.5em;
}

.aside-recent-post:last-child {
    border-bottom: none;
}

.aside-widget {
    border: 17px solid gainsboro;
    padding: 0 1em;
    margin-bottom: 3em;
}

.aside-widget-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
}

.aside-recent-post-title {
    font-size: 1.125rem;
}

.aside-recent-post-img {
    order: -1;
}

/* ========== ABOUT ME ========== */

.about-me-full-img {
    margin-bottom: 2em;
}

.about-me-section-title {
    color: #1792d2;
}

.about-me-section {
    margin-bottom: 2.5em;
}

/* ========== FOOTER ========== */

footer {
    text-align: center;
    background-color: #143774;
    padding: 2em 0;
    color: rgba(255, 255, 255, .7);
    margin-top: auto;
}

.footer-site-title {
    margin: 0;
}

/* ========== HIGH RES ========== */

@media screen and (min-width: 30rem) {
    .header-content {
        align-items: center;
    }

    .nav-list {
        display: flex;
        margin: 0;
    }

    .nav-link {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media screen and (min-width: 50rem) {
    header {
        padding: 1.5em 0;
        text-align: initial;
    }

    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .nav-item {
        margin-top: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    main {
        width: 65%;
    }

    aside {
        width: 30%;
        max-width: 15rem;
    }
}

@media screen and (min-width: 60rem) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 69%;
    }

    .article-recent-secondary {
        width: 28%;
    }

    .article-info-separator {
        display: none;
    }

    .article-info {
        flex-direction: column;
        justify-content: flex-start;
    }

    .article-date {
        margin-bottom: 0;
    }

    .article-comments {
        margin: 0;
    }
}
