:root {
    --main-color: #1792d2;
    --secondary-color: #143774;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.35;
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

/*======================== MODIFYING ========================*/

.hidden {
    display: none;
}

/*======================== LINK ========================*/

a {
    color: var(--main-color);
    text-decoration: none;
}

a:focus,
a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Site logo */
.site-header-link {
    margin: 0;
    color: var(--secondary-color);
    font-size: 1.8rem;
}

.site-header-link:focus,
.site-header-link:hover {
    text-decoration: none;
}

/* Navigation */
.nav-link {
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: .2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: #707070;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--main-color);
    text-decoration: none;
}

.nav-link:active {
    color: white;
    background-color: #707070;
}

.current-page {
    border-bottom: 2px solid #a1a1a1;
}

.current-page:focus,
.current-page:hover {
    color: #707070;
}

.current-page:active {
    color: #707070;
    background-color: transparent;
}

/*======================== IMAGE ========================*/

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.top-post-img,
.recent-post-img,
.personal-img {
    height: 12rem;
}

.aside-personal-img,
.aside-recent-post-img {
    height: 8rem;
}

.about-me-full-img {
    margin-bottom: 2em;
}

/*======================== TEXT ========================*/

h1,
h2,
h3 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: #143774;
}

/* Header */
.site-title {
    margin: 0;
}

.site-subtitle {
    display: block;
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: .7rem;
    color: #1792d2;
    text-transform: uppercase;
}

/* Main page */
.post-title {
    font-size: 1.33rem;
    margin-bottom: 0;
}

.post-read-more {
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #1792d2;
}

.post-info {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 0.8rem;
    color: #707070;
}

/* Aside */
.aside-widget-title {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

.aside-recent-post-title {
    font-size: 1rem;
    order: 2;
}

/* Footer */
.footer-title {
    margin: 0;
}

/*======================== CONTAINER ========================*/

.container {
    max-width: 65rem;
    margin: 0 auto;
    width: 92%;
}

/* Header */
.container-header {
    display: flex;
    flex-direction: column;
}

header {
    padding: 1em 0 1.5em 0;
    margin-bottom: 2em;
    text-align: center;
    background-color: #f8f8f8;
}

.nav-list {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    margin-top: 1em;
}

/* Main page */
article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.post {
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 1em;
}

.post-main {
    order: 2;
}

/* Aside */
aside {
    color: #143774;
}

.aside-recent-post {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    border-bottom: 1px solid #a1a1a1;
}

.aside-recent-post:last-child {
    border-bottom: none;
}

.aside-widget {
    border: 17px solid gainsboro;
    padding: 0 1em;
    margin-bottom: 3em;
}

/* About me page */
.about-me-section {
    margin-bottom: 2.5em;
}

/* Footer */
footer {
    padding: 2em 0;
    margin-top: auto;
    text-align: center;
    background-color: #143774;
    color: rgba(255, 255, 255, .7);
}

/************************************ HIGH RES ************************************/

@media screen and (min-width: 30rem) {
    html {
        font-size: 110%;
    }

    .nav-link {
        margin-left: 1em;
        margin-right: 1em;
    }

    .top-post-img,
    .recent-post-img,
    .personal-img {
        height: 18rem;
    }

    .aside-personal-img,
    .aside-recent-post-img {
        height: 10rem;
    }

    .container-header {
        align-items: center;
    }

    .nav-list {
        display: flex;
        margin: 0;
    }
}

@media screen and (min-width: 50rem) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .container-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    header {
        padding: 1.5em 0;
        text-align: initial;
    }

    .nav-item {
        margin-top: 0;
    }

    main {
        width: 65%;
    }

    aside {
        width: 30%;
        max-width: 15rem;
    }
}

@media screen and (min-width: 60rem) {
    .recent-post-img {
        max-height: 11rem;
    }

    .post-recent-title {
        margin-top: 0;
    }

    .post-info {
        flex-direction: column;
        justify-content: flex-start;
    }

    .post-recent {
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0;
    }

    .post-recent-main {
        width: 69%;
    }

    .post-recent-secondary {
        width: 28%;
    }
}
